@font-face {
    font-family: 'MyWebFont';
	src: url('../fonts/FreightTextProBook-Regular.ttf') format('truetype'); 
}  

@font-face {
    font-family: 'FreightText Pro';
    src: url('FreightTextProSemibold-Regular.eot');
    src: url('FreightTextProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProSemibold-Regular.woff2') format('woff2'),
        url('FreightTextProSemibold-Regular.woff') format('woff'),
        url('FreightTextProSemibold-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BlackItalicSC';
    src: url('FreightTextBlackItalicSC.eot');
    src: url('FreightTextBlackItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlackItalicSC.woff2') format('woff2'),
        url('FreightTextBlackItalicSC.woff') format('woff'),
        url('FreightTextBlackItalicSC.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro Book';
    src: url('FreightTextProBook-Regular.eot');
    src: url('FreightTextProBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProBook-Regular.woff2') format('woff2'),
        url('FreightTextProBook-Regular.woff') format('woff'),
        url('FreightTextProBook-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Book';
    src: url('FreightTextBook.eot');
    src: url('FreightTextBook.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBook.woff2') format('woff2'),
        url('FreightTextBook.woff') format('woff'),
        url('FreightTextBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextMediumItalic.eot');
    src: url('FreightTextMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMediumItalic.woff2') format('woff2'),
        url('FreightTextMediumItalic.woff') format('woff'),
        url('FreightTextMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextLight.eot');
    src: url('FreightTextLight.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLight.woff2') format('woff2'),
        url('FreightTextLight.woff') format('woff'),
        url('FreightTextLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro';
    src: url('FreightTextProLight-Regular.eot');
    src: url('FreightTextProLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProLight-Regular.woff2') format('woff2'),
        url('FreightTextProLight-Regular.woff') format('woff'),
        url('FreightTextProLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText MediumSC';
    src: url('FreightTextMediumSC.eot');
    src: url('FreightTextMediumSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMediumSC.woff2') format('woff2'),
        url('FreightTextMediumSC.woff') format('woff'),
        url('FreightTextMediumSC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro Book';
    src: url('FreightTextProBook-Regular_1.eot');
    src: url('FreightTextProBook-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProBook-Regular_1.woff2') format('woff2'),
        url('FreightTextProBook-Regular_1.woff') format('woff'),
        url('FreightTextProBook-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText LightItalicSC';
    src: url('FreightTextLightItalicSC.eot');
    src: url('FreightTextLightItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLightItalicSC.woff2') format('woff2'),
        url('FreightTextLightItalicSC.woff') format('woff'),
        url('FreightTextLightItalicSC.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText MediumItalicSC';
    src: url('FreightTextMediumItalicSC.eot');
    src: url('FreightTextMediumItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMediumItalicSC.woff2') format('woff2'),
        url('FreightTextMediumItalicSC.woff') format('woff'),
        url('FreightTextMediumItalicSC.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BlackSC';
    src: url('FreightTextBlackSC.eot');
    src: url('FreightTextBlackSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlackSC.woff2') format('woff2'),
        url('FreightTextBlackSC.woff') format('woff'),
        url('FreightTextBlackSC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro';
    src: url('FreightTextProMedium-Regular.eot');
    src: url('FreightTextProMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProMedium-Regular.woff2') format('woff2'),
        url('FreightTextProMedium-Regular.woff') format('woff'),
        url('FreightTextProMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextMedium.eot');
    src: url('FreightTextMedium.eot?#iefix') format('embedded-opentype'),
        url('FreightTextMedium.woff2') format('woff2'),
        url('FreightTextMedium.woff') format('woff'),
        url('FreightTextMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BoldItalicSC';
    src: url('FreightTextBoldItalicSC.eot');
    src: url('FreightTextBoldItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBoldItalicSC.woff2') format('woff2'),
        url('FreightTextBoldItalicSC.woff') format('woff'),
        url('FreightTextBoldItalicSC.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BookSC';
    src: url('FreightTextBookSC.eot');
    src: url('FreightTextBookSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBookSC.woff2') format('woff2'),
        url('FreightTextBookSC.woff') format('woff'),
        url('FreightTextBookSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextBold.eot');
    src: url('FreightTextBold.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBold.woff2') format('woff2'),
        url('FreightTextBold.woff') format('woff'),
        url('FreightTextBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro';
    src: url('FreightTextProSemibold-Regular_1.eot');
    src: url('FreightTextProSemibold-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProSemibold-Regular_1.woff2') format('woff2'),
        url('FreightTextProSemibold-Regular_1.woff') format('woff'),
        url('FreightTextProSemibold-Regular_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BookItalic';
    src: url('FreightTextBookItalic.eot');
    src: url('FreightTextBookItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBookItalic.woff2') format('woff2'),
        url('FreightTextBookItalic.woff') format('woff'),
        url('FreightTextBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextBlackItalic.eot');
    src: url('FreightTextBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlackItalic.woff2') format('woff2'),
        url('FreightTextBlackItalic.woff') format('woff'),
        url('FreightTextBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText LightSC';
    src: url('FreightTextLightSC.eot');
    src: url('FreightTextLightSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLightSC.woff2') format('woff2'),
        url('FreightTextLightSC.woff') format('woff'),
        url('FreightTextLightSC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BookItalicSC';
    src: url('FreightTextBookItalicSC.eot');
    src: url('FreightTextBookItalicSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBookItalicSC.woff2') format('woff2'),
        url('FreightTextBookItalicSC.woff') format('woff'),
        url('FreightTextBookItalicSC.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro';
    src: url('FreightTextProMedium-Regular_1.eot');
    src: url('FreightTextProMedium-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProMedium-Regular_1.woff2') format('woff2'),
        url('FreightTextProMedium-Regular_1.woff') format('woff'),
        url('FreightTextProMedium-Regular_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText BoldSC';
    src: url('FreightTextBoldSC.eot');
    src: url('FreightTextBoldSC.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBoldSC.woff2') format('woff2'),
        url('FreightTextBoldSC.woff') format('woff'),
        url('FreightTextBoldSC.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextLightItalic.eot');
    src: url('FreightTextLightItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextLightItalic.woff2') format('woff2'),
        url('FreightTextLightItalic.woff') format('woff'),
        url('FreightTextLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText Pro';
    src: url('FreightTextProLight-Regular_1.eot');
    src: url('FreightTextProLight-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProLight-Regular_1.woff2') format('woff2'),
        url('FreightTextProLight-Regular_1.woff') format('woff'),
        url('FreightTextProLight-Regular_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextBlack.eot');
    src: url('FreightTextBlack.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBlack.woff2') format('woff2'),
        url('FreightTextBlack.woff') format('woff'),
        url('FreightTextBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightText';
    src: url('FreightTextBoldItalic.eot');
    src: url('FreightTextBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FreightTextBoldItalic.woff2') format('woff2'),
        url('FreightTextBoldItalic.woff') format('woff'),
        url('FreightTextBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html{
	font-family: 'MyWebFont';
	scroll-behavior: smooth;
	background-color: rgb(246, 246, 246);
	color: rgb(54, 47, 41);
}

header{
	text-align:center;
	font-size: 75%; 
    height:100%;

	   }
	   
header h1 {
	margin-top:5%;
	font-size:100;
	line-height:1.1;
	padding:0% 5%;
	
}

section{
	padding-top:5%;
	margin-bottom:5%;
	
	
}
#bar{padding-top:2%;}

#abstract #bar:hover .hh2{display:block;}


#abstract #bar .hh2{display:none;}



#p1 #bar:hover .hh2{display:block;}


#p1 #bar .hh2{display:none;}

#p2 #bar:hover .hh2{display:block;}


#p2 #bar .hh2{display:none;}


#p3 #bar:hover .hh2{display:block;}


#p3 #bar .hh2{display:none;}


#p4 #bar:hover .hh2{display:block;}


#p4 #bar .hh2{display:none;}

#p5 #bar:hover .hh2{display:block;}


#p5 #bar .hh2{display:none;}


#p6 #bar:hover .hh2{display:block;}


#p6 #bar .hh2{display:none;}

.bar2{padding-left:10px;}



.thesis_details{
	margin-bottom:15%;
	
	
}



.col_bar{width:24%;
		display:inline-block;
		vertical-align: top;
		}

.col_bar a{text-decoration:none;
color:rgb(43, 199, 246);
font-weight:800;
font-size:16px;
display:block;
margin-bottom:25px;}





.col_bar a:hover{
	color:rgb(139, 220, 244);
}		
		
.col_bar h3{
		padding-left:2%;
		
}
.col_bar .ttext{
	font-weight:300;
}

.col_bar p{
		padding-left:2%;
		font-size:12px;
		margin-top: 8px;
}		


		
.col_main{width:48%;
display:inline-block;
vertical-align: top;}


.col_main p{
	font-size:17px;
	line-height:1.2;
	text-align: justify;
	text-justify: inter-word;
}

.col_main h2{
	font-size:50px;
	line-height:1.2;
	text-align:center;
}

.col_main h3{
	font-size:30px;
	line-height:1.2;
	text-align:center;
}

.col_bar img {
	max-width:95%;
	padding-left:2%;
	display: block;
  	
  	margin-right: auto;
  
}


  
  
  
 @media only screen and (max-width: 600px) {
	 .col_bar{width:100%;
	     padding:0;
	     margin:0;
	 }
	 .col_main{width:100%;
	     padding:0;
	     margin:0;
	 }
	 header{padding:10px;}
	 
	 header h1{font-size:54px;padding:20% 0% 10% 0%;}
	 .desk{display:none;}
	 
	 .thesis_details .d{font-size:8px;
	     
	 }
	 
	 .col_main h2{font-size:40px;}

	 .set{margin-top:-75%;}
	 .set2{margin-top:-90%;}
	 .set3{margin-top:-150%;}
	 .set4{margin-top:-40%;}
	 
	 .s1{margin-top: 0%!important;}

	 .col_bar img{
		cursor: pointer;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
		  -webkit-filter: grayscale(100%);
		  -moz-filter: grayscale(100%);
		  -ms-filter: grayscale(100%);
		  filter: grayscale(100%);
		  filter: gray; /* IE 6-9 */
	}
	 
	 
 }
 
 
 @media only screen and (min-width: 600px) {
	 
	 .mob{display:none;}
	 
	 .col_bar img{
	     cursor: pointer;
		 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   		-webkit-filter: grayscale(100%);
   		-moz-filter: grayscale(100%);
   		-ms-filter: grayscale(100%);
   		filter: grayscale(100%);
   		filter: gray; /* IE 6-9 */
	 }
	
	 .col_bar img:hover {
		-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
		filter: none;
	 }
  
  }
  
  .col_main{padding-right:2%;}
	 
	 #bar{
    position: sticky;


    top:0;
}
	 
 }
 
 